html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-width: 100vw;
  min-height: 100vh;

  --color-primary: #4cff00;
  --color-secondary: #ff0000;
  --color-background: #f2f2f2;
}

:root {
    --background: #010a07;
    --main-color: #3a302d;
    --text: #3a302d;
    --text-white: #ffffff;
    --text-default: #212529;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    color: var(--text-default);
}

@media only screen and (min-width: 1350px) {
    .container {
        width: 1140px;
    }
}

/** HERO TEXTS **/
.head-txt {
    line-height: 160%;
}

.card-desc p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.btn-addcart {
    background-color: var(--main-color);
    color: var(--text-white);
}

    .btn-addcart:hover {
        color: var(--main-color);
        background-color: #FFFFFF;
        border: 1px solid var(--main-color);
        transform: translate(-4px, -4px);
        box-shadow: 8px 8px 0 var(--main-color);
    }

.search-box {
    position: relative;
}

    .search-box .bi-search {
        position: absolute;
        top: .375rem;
        left: .75rem;
        color: #212529;
    }

.form-input {
    text-indent: 33px;
}


/** BUTTON **/
.cart-aciton-btn .btn {
    min-height: 45px;
}

.cart-aciton-btn .btn-confirm {
    /*    background-color: #28a745;*/
    color: var(--text-white);
}

footer {
    border-top: 1px solid #222222;
}